/*instrucciones generales*/
* {margin: auto;}

/*cabecera de la página*/
h1 { 
	text-align: center; 
	padding: 0.5em; 
}


/*div principal del calendario*/
#calendario { 
	border: 1px solid #af7ac5 ;
	position: absolute;
	width:73.8%;
	height:80%;
	left:0%;
	top:112px;
	border-radius: 10px;
    background-color: #fff; 
    text-align: center;
}


/*fila de los dias del calendario*/
#diasc { 
	border: 4px; 
	border-color:#A268BE; 
	border-collapse: separate; 
	border-spacing: 4px;
	border-radius: 10px; 
}


#diasc th, #diasc button { 
	width: 144px;
	height: 50px;
	font: normal 14pt arial; 
	flex: none;
	order: 3;
	align-self: stretch;
	flex-grow: 1;
}

/*fila de los dias LUN MAR MIE JUE VIE SAB DOM*/
#diasc th { 
	font: bold 14pt arial; 
	color: #f2eff3; 
	background-color:#0059;
	border-radius: 50px;
}

/*fila de numeros*/
#fila1 td { 
	font: bold 14pt arial; 
	color: #391E46; 
	background-color: #fff;
	width: 3%;
	height: 30%;
	padding-top:5%;
	border-radius: 20px;
	border-color:#A268BE; 
}


/*fila de numeros*/
#fila2 td { 
	font: bold 14pt arial; 
	color: #411E46; 
	background-color: #fff;
	width: 3%;
	height: 30%;
	padding-top:5%;
	border-radius: 30px;
}

/*fila de numeros*/
#fila3 td { 
	font: bold 14pt arial; 
	color: #411E46; 
	background-color: #fff;
	width: 3%;
	height: 30%;
	padding-top:5%;
	border-radius: 15px;

}

#fila4 td { 
	font: bold 14pt arial; 
	color: #411E46; 
	background-color: #fff;
	width: 3%;
	height: 30%;
	padding-top:5%;
	border-radius: 10px;

}

#fila5 td { 
	font: bold 14pt arial; 
	color: #411E46; 
	background-color: #fff;
	width: 3%;
	height: 30%;
	padding-top:5%;
	border-radius: 80px;

}

#fila6 td { 
	font: bold 14pt arial; 
	color: #411E46; 
	background-color: #fff;
	width: 3%;
	height: 30%;
	padding-top:5%;
	border-radius: 40px;

}

/*encabezado*/
#diasc button { color:#411E46; background-color: #411E46 }

/*línea de la fecha actual*/
#fechaactual {
position: absolute;
width: 27%;
height:20%;
left:75%;
top:40%;
font-family: 'Arial';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 100%;

display: flex;
align-items: center;
text-align: center;

color: #411E46;
}

#hoy {
	position: absolute;
	width:26%;
	height:5%;
	left: 74%;
	top: 38%;

	background: #411E46;
	border-radius: 2px;

	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 125%;

	display: flex;
	align-items: center;
	text-align: center;
	color: #fff;
}

#hoy:hover {
	background: #A155C5;
	color: #7E429B;
}

#fechaactual p {cursor: pointer;}
#fechaactual p:hover { color: #7E429B; text-decoration: underline; }


/*cabecera del calendario*/ 
#anterior { 
	float: left; 
	width: 100px; 
	font: bold 12pt arial;
    padding: 0.5em 0.1em; 
    cursor: pointer ; 
}

#anterior:hover {
	color: #411E46;
}

#posterior { 
	float: right; 
	width: 100px; 
	font: bold 12pt arial; 
    padding: 0.5em 0.1em; 
    cursor: pointer;
}

#posterior:hover {
	color: #411E46;
}


/*Mes y Año*/ 
#titulos { font: normal 20pt "arial black"; padding: 0.2em; }

#logo {
	position: absolute;
	width: 105px;
	height: 105px;
	left: 32px;
	top: 4px;
}

#user {
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 30%;
	left: 90%;
	top: 10px;
}

#perfil-texto {
	position: absolute;
	width: 94px;
	height: 21px;
	left: 90%;
	top: 80px;

	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 125%;

	display: flex;
	align-items: center;
	text-align: center;

	color: #fff;
}


.btton {
		width:24%;
  	height:8%;
  	padding: 0em 0em;
  	font-size: 20px;
  	font-weight: 700;
 		text-align: center;
  	color: #222730;
  	background-color: #A155C5;
  	border: none;
  	border-radius: 40px;
  	transition: all 0.3s ease 0s;
  	position: absolute;
  	left: 75.5%;
	top: 25%;
}

.btton:hover {
  background-color: #411E46;
  color: #fff;
}


header {
	border: 1px solid black;
	height: 111px;
	width:100%;
	background-color:  #af7ac5 ;
}

.fondo {
	height:100%;
	background-color:#411E46;
}


.modal{ 
	width: 100%;
	height: 500px%;
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #222730bd;
	display: flex;
	opacity: 0;
	pointer-events: none;
	transition:opacity.60s;

}
.modal--show{
	opacity: 1;
	pointer-events: unset;
	transition:opacity.60s;
}
.modal__container{
	width: 100%;
	height: 90%;
	max-width: 600px;
	background-color: #a2819f;
	border-radius: 36px;
	box-shadow: inset 34px 34px 32px #634f61,
            inset -34px -34px 32px #e1b3dd;
	display: grid;
	place-items: center;
}
.modal__title{
	position: relative;
	top:0%;
	left: 2%;
	font-size:35px;
}
.modal__paragraph{
	position: relative;
	top: 10%;
}

.modal__close{
 position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #c371f8;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #c371f8;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
 
}
.modal__close:hover{
  color: white;
  box-shadow: inset 0 -100px 0 0 #c371f8;
}
.modal__close:active {
  transform: scale(0.9);
}
.campos{
 border-color: #c371f8;
 height: 25px;
 padding: 10px;
 border-radius: 10px;
 background: #e8e8e8;
 margin-bottom: 15px;
 transition: 0.3s;
}

.campo:focus {
 outline-color: #e8e8e8;
 background: #e8e8e8;
 box-shadow: inset 20px 20px 60px #c5c5c5,
		inset -20px -20px 60px #ffffff;
 transition: 0.3s;
}